body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.contactlist{
  cursor: pointer;
}
.visitor-time{
  position: relative;
  left: -50px;
  top: 17px;
  font-size: 9px;
  white-space: pre;
}
.table-responsive table tbody tr td{
  padding:.25rem !important;
}
.tdc{
  vertical-align: middle;
    text-align: center;
}
.product-add-img{
  /* width:100px;height: 70px; */
  width: 100%;height: 100px;
}
